<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gxg.administrator.mydemo7">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pubuliu.RecycleViewDemo" />
        <activity android:name=".pubuliuhead.PubuliuHeadActivity" />
        <activity android:name=".pubuliuhead.MyPubuliuActivity" />
        <activity android:name=".alivlayout.AliVLayoutActivity" />
        <activity android:name=".RefreshHeaderLayout.RefreshHeaderLayoutActivity" />
        <activity android:name=".pictures.PicturesActivity" />
        <activity android:name=".zxing.ZXingActivity" />
        <activity android:name=".scrolldemo.ScrollDemoActivity" />
        <activity android:name=".okhttp.OkHttpActivity" />
        <activity android:name=".webview.WebViewActivity" />
        <activity android:name=".designtest.DesignTestActivity" />
        <activity android:name=".designtest.DesignTest1Activity" />
        <activity
            android:name=".designtest.test2.DesignTest2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".headscroll.HeadScrollActivity" />
        <activity android:name=".iswiperefreshlayout.IRecycleviewActivity" />
        <activity android:name=".yinying.YinYingActivity" />
        <activity android:name=".tongzhilan.TongZhiLanActivity" />
        <activity android:name=".colorfulline.ColorFullIneActivity" />
        <activity android:name=".wxpwd.WxPwdActivity" />
        <activity android:name=".shijuexiaoguo.ShiJueTeXiaoActivity" />
        <activity android:name=".chinaMap.ChinaMapActivity"/>
        <activity android:name=".daojishi.DaoJiShiActivity" />
        <activity android:name=".daojishi.ShowActivity" />
        <activity android:name=".daojishi.SettingActivity" />
        <activity android:name=".daojishi.CompletedActivity" />
        <activity android:name=".zuolatiaozhuan.HomeActivity" />
        <activity android:name=".zuolatiaozhuan.ShowMoreActivity" />
        <activity android:name=".allviewtouming.AllViewToumingActivity" />
        <activity android:name=".dingbuxuanfu.DingBuXuanFuActivity" />
        <activity android:name=".zhihu.ZhiHuActivity" />
        <activity android:name=".shichagundong.ShiChaGunDongActivity" />
        <activity android:name=".shichagundong.VerticalSampleActivity" />
        <activity android:name=".shichagundong.HorizontalSampleActivity" />
        <activity android:name=".shichagundong.ParallaxEverywhereSample" />
        <activity android:name=".shichagundong.AboutActivity" />
        <activity android:name=".designtest.test2.DesignTest3Activity" />
        <activity android:name=".constrainlayout.ConstrainLayoutActivity" />
        <activity android:name=".videos.VideoActivity" />
        <activity android:name=".shimmer.ShimmerActivity" />
        <activity android:name=".shimmer.DemoActivity" />
        <activity android:name=".coordinatortablayout.CoordinatortablayoutActivity" />
        <activity android:name=".StickHeader.StickHeaderActivity" />
        <activity android:name=".prdownloader.utils.PRDownloaderActivity" />
        <activity android:name=".animatedpieview.AnimatedPieViewActivity"></activity>
    </application>

</manifest>